<%= form_with(model: @talk, local: true) do |form| %>
  <% if @talk.errors.any? %>
    <div id="error_explanation">
      <h2><%= @talk.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @talk.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="talk_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to 'Talks一覧画面に戻る', talks_path %>
