<%= form_with(model: @talk, local: true) do |form| %>
  <div class="talk_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to 'Talks一覧画面に戻る', talks_path %>
